<br-book-form
  (create)="addBook($event)"
  (edit)="changeBook($event)"
  [book]="selectedBook"
></br-book-form>

<ng-container *ngFor="let b of books">

  <br-book
    (rateUp)="doRateUp($event)"
    (rateDown)="doRateDown($event)"
    (edit)="changeToEditMode($event)"
    [isRateDownAllowed]="br.isRateDownAllowed"
    [isRateUpAllowed]="br.isRateDownAllowed"
    [book]="b"></br-book>

</ng-container>

<div *ngIf="books.length === 0">
  Keine Bücher vorhanden
</div>

<hr>

<p>
  Anzahl der Bücher: {{ books.length }}
</p>
